<span class="{{ if .class }}{{ .class }}{{ else }}inline-svg baseline{{ end }}"{{ if .width }} width="{{ .width }}" {{ end }}{{ if .height }} height="{{ .height }}" {{ end }} style="{{ if .paddingRight }} border-right: {{ .paddingRight }} solid transparent; {{ end }}{{ if .marginLeft }} margin-left: {{ .marginLeft }}; {{ end }}">
{{- $fname := print "svg/" .path -}}
{{- $svg := "<svg" -}}
{{- $svgparams := "<svg" -}}
{{- if .width }}
{{- $svgparams = print $svgparams " width=\"" .width "\"" -}}
{{- end }}
{{- if .height }}
{{- $svgparams = print $svgparams " height=\"" .height "\"" -}}
{{- end }}
{{- $path := "<path" -}}
{{- $fill := "<path fill=\"currentColor\"" -}}
{{ if .fill }}
{{ if ne .fill "none" }}
{{- $fill = print "<path fill=\"" .fill "\"" -}}
{{ else }}
{{- $fill = "none" -}}
{{ end }}
{{ end }}
{{ $svgcontent := (readFile $fname) }}
{{ if ne $fill "none" }}
{{ $svgcontent = replace ($svgcontent) $path $fill }}
{{ end }}
{{ $svgcontent = replace ($svgcontent) $svg $svgparams }}
{{ $svgcontent | safeHTML }}
</span>