{{- $langBadge := print "badges/ms/Get_It_From_MS_" .ctx.Lang ".svg" -}}
{{- $svgfname := print "svg/" $langBadge -}}
{{- if not (fileExists $svgfname) -}}
{{- $langBadge = "badges/ms/Get_It_From_MS_en.svg" -}}
{{- end -}}
{{- $svgDict := (dict "class" "msstorebadge-svg" "fill" "none" "path" $langBadge) -}}
{{- if .width -}}
{{- $svgDict = merge $svgDict (dict "width" .width) -}}
{{- end -}}
{{- if .height -}}
{{- $svgDict = merge $svgDict (dict "height" .height) -}}
{{- end -}}
{{ partial "inlinesvg.html" ($svgDict) }}