{{ define "main" }}
<div class="row"><div class="col">
	<div class="row">
		<div class="col-lg-12 col-md-12">
		{{ partial "breadcrumb.html" . }}
		</div>
	</div>
	<div class="row">
		{{- $hasSidebar := false -}}
		{{- if or (.Sections) (.Site.Taxonomies.tags) }}
		{{- $hasSidebar = true -}}
		<div class="col-lg-3 order-1 col-md-3">
			{{- with .Sections -}}
			<div class="card bgc-black">
				<div class="card-header bgc-black-2 nav-sidebar-header">
					<h5 class="mg-clear">
						{{ i18n "Subsections" }}
					</h5>
				</div>
				<div class="card-body bgc-black-2 nav-sidebar">
					<ul>
					<!-- Ranges through section pages -->
					{{ range .ByTitle }}
						<li>
							<a href="{{.RelPermalink}}">{{.Title}}</a>
						</li>
					{{ end }}
					</ul>
				</div>
			</div>
			{{- end -}}
			{{- with .Site.Taxonomies.tags.ByCount -}}
			<div class="card bgc-black">
				<div class="card-header bgc-black-2 nav-sidebar-header">
					<h5 class="mg-clear">
						{{ i18n "Tags" }}
					</h5>
				</div>
				<div class="card-body bgc-black-2 nav-sidebar">
					<ul>
					{{- range first 5 . -}}
						<li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
					{{- end -}}
					{{- if gt (len .) 5 -}}
						<li><a href="/tags/">{{ i18n "All Tags" }}</a></li>
					{{- end -}}
					</ul>
				</div>
			</div>
			{{- end -}}
			<p class="mg-lg mg-sm-sm mg-sm-xs"><br></p>
		</div>
		{{- end -}}

		<div class="{{ if $hasSidebar }}col-lg-9 col-md-9{{ else }}col-lg-12 col-md-12{{ end }}">
			<div class="card bgc-black">
				<div class="card-header bgc-white">
					<div class="row">
						<div class="col" style="flex-grow: 0; padding-right: 8px;">
							<div class="text-center text-lg-left">
								{{ partial "inlinesvg.html" (dict "class" "inline-svg baseline icon-white-2 icon-md" "path" "fontawesome/solid/list.svg") }}
							</div>
						</div>
						<div class="col" style="padding-left: 7px;">
							<h3 class="mg-clear article-title-text">
								{{ .Title }}
							</h3>
						</div>
					</div>
				</div>
				<div class="card-body bgc-black-2">
					<!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
					{{.Content}}

					{{ $pages := .RegularPages }}
					{{ if ne .Site.Language.Lang .Sites.Default.Language.Lang }}
					{{ $defaultLangSectionPages := where .Sites.Default.RegularPages "Section" .Section }}
					{{ $pages = $pages | lang.Merge $defaultLangSectionPages }}
					{{ end }}
					{{ $paginator := .Paginate ( sort ($pages) (.Params.sort | default "Title") "desc" ) }}
					<ul>
					{{ range $paginator.Pages }}
						<li>
							<a href="{{.RelPermalink}}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ if .IsPage }}{{.Date.Format "2006-01-02"}} | {{ end }}{{.Title}}{{ if ne .Language.Lang $.Site.Language.Lang }}<img src="/img/flags/{{ .Language.Lang }}.svg" alt="{{ .Language.Lang }}" height="23px" width="25px" style="padding-left:8px">{{ end }}</a>
						</li>
					{{ end }}
					</ul>

				</div>
				<div class="card-footer">
					{{ template "_internal/pagination.html" . }}
				</div>
			</div>
			<p class="mg-lg d-md-block d-none"><br></p>
		</div>
	</div>
</div></div>
{{ end }}

