name: i18n

on:
  push:
    branches:
      - 'translation_integration'

jobs:
  merge_translation_changes:
    name: 'Sync translation_integration -> master'
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[Sync: master->translations]')"
    steps:
      - uses: actions/checkout@v2
        with:
          path: translations
      - uses: actions/checkout@v2
        with:
          ref: master
          path: master
      - name: "Install yq"
        run: sudo snap install yq
      - name: 'Sync translation changes to master branch'
        run: ./translations/.ci/sync_translations_to_master.sh "${GITHUB_WORKSPACE}/translations" "${GITHUB_WORKSPACE}/master"
      - name: Commit changes to master branch
        working-directory: "./master"
        run: |
          short_sha="$(echo ${GITHUB_SHA} | cut -c1-8)"
          git config user.name "wzdev-ci"
          git config user.email "61424532+wzdev-ci@users.noreply.github.com"
          git add -A
          timestamp=$(date -u)
          git commit -m "[Sync: translations->master]: ${timestamp}" || exit 0
      - name: Test build changes to master branch
        env:
          HUGO_VERSION: '0.71.1'
          HUGO_IMAGE: 'ext-alpine'
        run: |
          site_repo_dir="${GITHUB_WORKSPACE}/master"
          label="${HUGO_VERSION}-${HUGO_IMAGE}"
          echo "Using klakegg/hugo:${label}"
          # Set up output directory
          OUTPUT_DIR="${HOME}/output/tmp/public"
          echo "OUTPUT_DIR=${OUTPUT_DIR}"
          mkdir -p "${OUTPUT_DIR}"
          # Run test Hugo build
          docker run --rm -t \
            -v ${site_repo_dir}:/src \
            -v ${OUTPUT_DIR}:/target \
            klakegg/hugo:${label} \
            --minify --i18n-warnings --gc --path-warnings --verbose
      - name: Push changes to master branch
        env:
          GITHUB_ACTOR: ${{ secrets.WZ2100_PUSH_USERNAME }}
          PUSH_PAT: ${{ secrets.WZ2100_PUSH_SECRET_TOKEN }} # use a PAT so that subsequent workflows are triggered on push
        working-directory: "./master"
        run: |
          git push "https://${PUSH_PAT}@github.com/Warzone2100/wz2100.net.git" master:master
